body {
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    background-color: #fffef5;
}

h1 {
    display: flex;
    font-size: 4rem;
    justify-content: center;
    margin-bottom: 0;
    color: #000080;
}

h2 {
    display: flex;
    font-size: 2rem;
    justify-content: center;
    color: #000080;
}

h3 {
    color: #000080;
    font-weight: 600;
    font-size: 1.5rem;
    margin-left: 2rem;
}

p {
    color: #000080;
    font-weight: 400;
    font-size: 1.125rem;
    margin-left: 3.5rem;
    margin-right: 45rem;

}

ul {
    color: #000080;
    font-weight: 400;
    font-size: 1.125rem;
    margin-left: 3rem;
    margin-bottom: 4rem;
}

button {
    display: block;
    margin: auto;
    color: #000080;
    background-color: #fffef5;
    border-color: #000080;
    outline: none;
    border-radius: 0.75rem;
    width: 6rem;
    height: 1.5rem;
    scale: 2.5;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

button:hover {
    filter: brightness(0.8);
}

a {
    text-decoration: none;

}

img {
    float: right;
    margin-right: 7.7rem;
    border-radius: 2rem;
}

@media screen and (max-width: 924px) {
    p {
        font-size: 0.75rem;
        margin-right: 30rem;
    }

    ul {
        font-size: 0.75rem;
        margin-right: 30rem;
    }

    img {
        margin-right: 4.4rem;
    }
}

@media screen and (max-width: 724px) {
    h2 {
        font-size: 1rem;
    }
    img {
        margin-right: 1.5rem;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 652px) {
    img {
        width: 262.5px;
        height: 262.5px;
    }
}

@media screen and (max-width: 616px) {
    p {
        margin-right: 20rem;
    }

    ul {
        margin-right: 20rem;
    }
    
    img {
        margin-bottom: 0.5rem;
    }
}

@media screen and (max-width: 479px) {
    h3 {
        margin-left: 1rem;
    }

    p {
        margin-left: 1.25rem;
    }

    ul {
        margin-left: 0.25rem;
    }
}

@media screen and (max-width: 449px) {
    h2 {
        font-size: 0.75rem;
    }

    img {
        width: 320px;
        height: 320px;
        margin-right: 4rem;
        margin-bottom: 1.75rem;

    }

    p {
        margin-right: 1.25rem;
    }

    h3 {
        margin-right: 1rem;
    }

    ul {
        margin-right: 0.25rem;
    }
}

@media screen and (max-width: 411px) {
    img {
        margin-left: 1.9rem;
        margin-right: 0;
        float: left;

    }
}

@media screen and (max-width: 381px) {
    img {
        margin-left: 1rem;
    }
}

@media screen and (max-width: 351px) {
    img {
        margin-left: 0.3rem;
    }
}
