body {
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    background-color: #fffef5;
}

canvas {
  display: block;
  margin: auto;
  border-radius: 0.75rem;
}

textarea {
 width: 100%; 
 height: 175px;
 border-radius: 0.5rem;
 color: #000080;
 background-color: #fffef5
}