body {
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    background-color: #fffef5;
}

h1 {
    display: flex;
    font-size: 4rem;
    justify-content: center;
    margin-bottom: 0;
    color: #000080;
}

h2 {
    display: flex;
    font-size: 2rem;
    justify-content: center;
    color: #000080;
}

h3 {
    color: #000080;
    font-weight: 600;
    font-size: 1.5rem;
}

p {
    color: #000080;
    font-weight: 400;
    font-size: 1.125rem;
}